div.flex-certificaciones{
    display: flex;
    width: 100%;
    height: auto;
    background-color: #BB002E;
    justify-content: center;
    align-items: center;
  }
  .flex-certificaciones #imgiso{
    width: 10%;
    height: auto;
    align-items: center;
  }
  .flex-container {
      display: flex;
      height: auto;
      background-color:white; 
      justify-content: space-around;
    }
  .flex-container #cuadrado {
      display: flex;
      flex-direction: column;
      padding: 5%;
      margin: 5%;
      filter: drop-shadow(5px 5px 10px #444);
      background-color: #E8E8E8;
  }
  .flex-container .flex-web h3{
    font-size: 3vw;
  }
  .flex-apps {
    display: flex;
    flex-direction: row;
    margin-left: 30%;
    width: 40%;
    height: auto;
  }
  .flex-apps img {
    width: 100%;
    height: auto;
  }
  .flex-container .flex-web #Subtitulo{
    text-align: center;
    font-weight: bolder;
    font-size: 2.5vw;
  }
  .flex-web ul li{
    text-align: center;
    list-style-position: inside;
    font-size: 2vw;
  }
  .flex-container .flex-web #enlace{
    text-align: right;
    margin: 5%;
    font-weight: bolder;
    font-size: 2vw;
  }
  #final #servicios .flex-container {
    width: 100%;
    height: auto;
  }
   /* responsive footer */
  
   .flex-footer {
    display: flex;
    flex-direction: row;
    background-color: #bb002e;
    width: 100%;
    height: auto;
    justify-content: space-around;
  }
  
  .flex-footer > div {
    padding: 10%;
    font-family: roboto;
    padding-top: 5%;
    padding-bottom: 3%;
  }
  
  .flex-footer p {
    width: 300%;
    height: auto;
    font-size: 2vw;
  }
  
  .flex-footer ul {
    width: 180%;
    font-size: 1.2vw;
  }
  
  .flex-redes {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: auto;
    justify-content: space-around;
  }
  .flex-redes  img{
    max-width: 50%;
    height: auto;
    padding-bottom: 60%;
  }
  