section{
    padding: 3%;
    padding-left: 10%;
    font-family: Arial, Helvetica, sans-serif;
}
.formulario{
    background-color: #ffffff;
}
.ruc{
    font-size: 2vw;
    margin-left: 25%;
}
.inputtext{
    width: 20%;
    height: auto;
    padding: 0.75%;
}
.boton{
    width: 20%;
    height: auto;
    border-radius: 8px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    margin: 2% 5%;
    cursor: pointer;
    padding: 0.4%;
    border: #ffffff;
    background-color: #BDBDBD;
}
.formulario .lblresultado{
    font-size: 1.5vw;
    text-decoration: underline;
    text-decoration-color: #BDBDBD;
    color: #BDBDBD;
    margin-left: 40%;
    padding-top: 20%;
}
.captchacss {
    margin-left: 35%;
}