.cuerpoforms{
    margin-top: 12px;
}
table {
    font-weight:bold;
    background-color: #f7f7f7;
    background-repeat: repeat-x;
    color: #000000;
    text-align:left;
    -webkit-box-shadow: 6px 4px 31px -1px rgba(0,0,0,0.74);
    -moz-box-shadow: 6px 4px 31px -1px rgba(0,0,0,0.74);
    box-shadow: 6px 4px 31px -1px rgba(0,0,0,0.74);
    margin: auto;
    border: #bb002e 2px solid;
}
#fila1{
    text-align: center;
}
table td{
    padding: 5px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: #ffffff;
    border-bottom-color: #bb002e;
    
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
table th{
    padding: 1%;
    border-bottom-width: 2px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-style: none;
    border-bottom-color: #bb002e;
    background: #f2f2f2;
}

.columnab {
    font-size: 1.5vw;
}
.cuerpoforms #fila1 {
    font-size: 2vw;
}
.cuerpoforms #fila2 {
    font-size: 1.6vw;
}
