html {
  font-size: 100%; /* 100% = 16px */
}
.ImgHex.shadow {
  transform-origin: 50% 50%;
  position: absolute;
}

.ImgHex {
  position: absolute;
  transform-origin: 43% 33%;
  animation: rotateHexImg 10s linear infinite;
}

.mensaje {
  background: #FF4544;
  color: white;
}

.mensaje h1 {
  margin: 0;
}

.mensaje p {
  padding: 1.5em 3rem; /* mezclando em y rem */
  margin: 0;
  font-size: 3.75rem;
  text-align: center;
  font-family:'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,  'Helvetica Neue', sans-serif;
  font-weight: bold;
}
.mensaje p span{
  /*font-size: 4vw;*/
  font-size: 4vw;
}

.about {
  display: flex;
  flex-direction: column;
}

.about .info {
  display: flex;
  flex-direction: row;
}
.mesagge-know-about-our-work{
  background: #FF4544;
  color: white;
}
@keyframes rotateHexImg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.sizeImage{
  width: 100%;
}
@media screen and (max-width: 767px) {
  html {
    /* font-size 16px */
    font-size: 62.5%;
  }
}