.ImgHex.shadow {
  transform-origin: 50% 50%;
  position: absolute;
}

.ImgHex {
  position: absolute;
  transform-origin: 43% 33%;
  animation: rotateHexImg 10s linear infinite;
}

.mensaje {
  background: #FF4544;
  color: white;
}

.mensaje h1 {
  margin: 0;
}

.mensaje p {
  padding:  5% 10%;
  margin: 0;
}

.about {
  display: flex;
  flex-direction: column;
}

.about .info {
  display: flex;
  flex-direction: row;
}
.mesagge-know-about-our-work{
  background: #FF4544;
  color: white;
}
@keyframes rotateHexImg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.sizeImage{
  width: 100%;
}