body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* title element */
.title {
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin: 0;
}

/* title element with green modifier*/
.title--green {
  color: #00BB8D;
}

/* title element with red modifier*/
.title--red {
  color: #FF4544;
}

/* title element with gray modifier*/
.title--gray {
  color: #707070;
}

/* title element with medium modifier*/
.title--medium {
  font-size: 35px;
}

/* title element with large modifier*/
.title--large {
  font-size: 50px;
}