.carousel-card{
  width: 100%;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  /*justify-content: center;*/
  background-color: #24D9CF;
  text-align: center;
}
.carousel-card__image{
  width: 100%;
  height: auto;
  
}
.carousel-card__text{
  justify-items: center;
  font-size: 2vw;
  padding-left: 20px;
  width: 100%;
}